VITE_SUPABASE_URL=https://boaccgzelizonwewcovr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvYWNjZ3plbGl6b253ZXdjb3ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2OTI5NDYsImV4cCI6MjA5MjI2ODk0Nn0.F7dwrMFTF_nEq0dn3jo7Wt8njKBVYgxliR7IetqaGrY
